{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                {% if article.photo %}
                    <img src="{{ article.photo.url }}">
{#              <img src="#" src="{{ article.photo.url }}" alt="{{ article.title }}">#}
                {% endif %}
                <h1 class="card-title">{{ object.title }}</h1>
                <h6 class="card-subtitle mb-2 text-muted">Muallif  {{ object.author }}  {{ object.date }}</h6>
                <p class="card-text">{{ object.body | safe }}</p>
                <a href="{% url 'article_edit' article.pk %}">Postni tahrirlash</a>  |
                <a href="{% url 'article_delete' article.pk %}">Postni o'chirish</a> |
                <a href="{% url 'article_list' %}">Barcha postlar</a>
            </div>
                <div class="card">
                    <div class="card-header">Izohlar</div>
                    {% for comment in article.comments.all %}
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>{{ comment }}</p>
                                <footer class="blockquote-footer">{{ comment.author }}</footer>
                            </blockquote>
                        </div>
                    {% endfor %}
                </div>
        <p></p>
        </div>
    <p></p>
    </div>
{% endblock content %}